/* Reset do Browser/navegador */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    color: #263138;
    background-color: #f7f5f5;
}

/* cabeçalho/header/menu */
.menu {
    background-color: #FBBC05;
    display: flex;  /* transforma um contêiner em flexível, organizando seus itens em linha ou coluna com controle fácil de alinhamento e espaçamento. */
    align-items: center;
    justify-content: space-between; /* distribui os itens em linha com espaços iguais entre eles, deixando o primeiro à esquerda e o último à direita. */
    padding: 24px 80px; /* o primeiro número é o espaço entre o topo (header) e o final (footer). E o segundo número é o espaço das laterais */
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove o sublinhado do link */
  color: #fff;
}
.logo a p {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  margin-top: 20px;
}

.menu nav a{
    color: #fff;
    font-weight: 600; /* deixa o texto com uma espessura semi-negrito, mais grosso que o normal, mas menos que o negrito total (700). */
    padding: 20px;
    text-decoration: none; 
}

/* Deixar o menu fixo */
.menu {
    position: fixed;
    top: 0; /* para sempre deixar ele no topo */
    left: 0;
    width: 100%; /* ocupar 100% da tela */
    z-index: 100; /* define a ordem de sobreposição dos elementos na tela — quanto maior o valor, mais “por cima” o elemento aparece em relação aos outros (só funciona com position definido). || Coloca o header acima de outros elementos */
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px; /* define o espaçamento entre os itens dentro de um contêiner flexível ou grid */
    padding: 80px 80px 24px 80px;
    position: relative;
   
}

.inicio{
  margin: 140px;
}

h1, h2{
    font-size: 60px;
    font-weight: 600;
    margin-top: 32px;
    padding-bottom: 50px;
}

.paragafo p{
    line-height: 150%; /* define a altura da linha do texto como 150% do tamanho da fonte, aumentando o espaço entre as linhas de texto. */
    margin-bottom: 64px;
    padding-top: 50px;
}

.botao {
    background-color: #FBBC05;
    border-radius: 50px;
    color: #fff;
    padding: 20px 42px;
    text-decoration: none;
}

.botao:hover{
  background-color: #ffd24c;
}

.botao-transparente {
    background-color: transparent;
    color: #FBBC05;
    padding: 10px 22px;
    text-underline-offset: 4px; /* move a **linha do sublinhado** 4 pixels **mais longe do texto**, criando um espaço entre o texto e o sublinhado para melhorar a aparência. */
}

.botao-transparente:hover{
  color: #cc9900;
}


.absolute {
    position: absolute; /* posiciona um elemento em relação ao contêiner mais próximo com posição diferente de static. */
    bottom: -50px;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica {
    display: flex;
    align-items: center;
    gap: 32px; /* define o espaçamento entre os itens dentro de um contêiner flexível ou grid */
    padding: 80px 80px 24px 80px;
    position: relative;
    flex-direction: row-reverse;
}

#clinica h1, h2{
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;
}

#clinica p {
    line-height: 150%; /* define a altura da linha do texto como 150% do tamanho da fonte, aumentando o espaço entre as linhas de texto. */
    margin-bottom: 44px;
    text-align: justify;
}

#clinica ul li {
  margin-bottom: 12px; /* ou o valor que preferir */
    
}

.lista   {
  padding-left: 20px;
}

#clinica a.botao,
#clinica a.botao-transparente {
    margin-top: 5px; /* ajustável conforme desejado */
    display: inline-block; /* necessário para que margin funcione corretamente */
}

#farmacia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 80px;
    flex-wrap: wrap; /* Faz os elementos quebrarem para a próxima linha em telas menores */
    text-align: center;
    flex-direction: column; /* Coloca o h1 em cima da imagem */
    margin-top: 32px;
}

#farmacia img {
    max-width: 100%;
    height: auto;
}

#farmacia h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 10px; 
  }
  

#farmacia .paragrafo {
    line-height: 150%;
    margin-bottom: 20px;
    max-width: 919px; 
    text-align: justify; 
    margin-left: auto;
    margin-right: auto;
  }